$breakpoints: (
  small : 480px,
  medium: 700px,
);
$large : 1224px;
$medium: 900px;
$small:640px;
$xsmall:400px;

//Type
h1{
  font:700 58px/58px 'Open Sans', sans-serif;
  text-transform:uppercase;
}
p{
  font:100 14px/25px 'Open Sans', sans-serif;
  &.light{
    opacity: 0.6;
  }
}
a{
  color:#fff;
  text-decoration:none;
  margin-top:30px;
  font-size:15px;
  i{
    opacity: 0.5;
    font-size: 23px!important;
    margin-left: 10px;
    position: relative;
    bottom: -1px;
  }
}
.block{
  font:700 18px/18px 'Open Sans', sans-serif;
  text-transform:uppercase;
  display:table;
  margin:30px 0;
}
$block-font-sizes: (
  small : 14px,
  medium: (16px, 16px),
  large : (18px, 18px),
);

.underline{ 
  border-bottom: 3px solid #fff; 
  padding-bottom: 5px;
}
.opacity{ opacity:0.5;}

@media(max-width:$large){
  h1{
    font-size: 48px;
    line-height: 54px;
  }
  p{
    font-size: 13px;
    line-height: 22px;
  }
}
@media(max-width:1000px){
  h1{
    font-size: 38px;
    line-height: 46px;
  }
}
@media(max-width:$medium){
  h1 {
      font-size: 38px;
      line-height: 46px;
  }
  p{
    font-size: 12px;
  }
}
@media(max-width:$small){
  h1 {
      font-size: 28px;
      line-height: 36px;
  }
}
@media(max-width:$small){
  h1 {
      font-size: 18px;
      line-height: 30px;
  }
}